body{
margin:0px;
  padding:0px;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#efefef;
  font-family: 'Poppins', sans-serif;
}
.con{
  width:550px;
  height:420px;
  background:#fff;
  border-radius:12px;
  display: flex;
  
}
img{
  height:420px;
  border-radius:12px 0px 0px 12px;
}
.text{
  padding:20px;
  font-size:18px;
}
.text h4{
  font-size:14px;
  font-weight:400;
  color:#666;
  letter-spacing:2px;
  
  
}
.text h1{
  font-size:30px;
  font-weight:900;
  margin-top:10px;
  font-family:'Playfair Display', serif;
  
}
.text p{
  font-size:14px;
  font-weight:400;
  color:#666;
  margin-top:10px;
  line-height:20px;
  letter-spacing:1px;
  
}
.price{
  display:flex;
  align-items:center;
  margin-top:-20px;
  font-family:'Playfair Display', serif;
}
.price h2{
  font-size:28px;
  font-weight:600;
  color:#009617;
}
.price h3{
  font-size:18px;
  font-weight:400;
  color:#134d0f;
  text-decoration:line-through;
  margin-left:10px;
}
button{
  width:100%;
  height:40px;
  border:none;
  border-radius:8px;
  background:#009617;
  color:#fff;
  font-size:16px;
  font-weight:600;
  margin-top:-7px;
  font-family:'Playfair Display', serif;
  cursor:pointer;
  
}
button:hover{
  color:#009617;
  background:#fff;
  box-shadow:0px 0px 10px #009617;
  transition:0.5s;
}